body {
    font-family: sans-serif;
}

#board {
    height: 300px;
    width: 300px;
    background-color: #ddd;
}

.row {
    display: flex;
}

.box {
    height: 96px;
    width: 96px;
    border: 2px solid black;
}
