body {
    font-family: sans-serif;
}

#board {
    height: 300px;
    width: 300px;
    background-color: #ddd;
}

.row {
    display: flex;
}

.box {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
}
.box-x {
    color: red;
}
.box-o {
    color: blue;
}
